<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Singup</title>
</head>
<body>
<h1>Springboot :: 회원관리 프로그램</h1>
<div class="container">
    <form action="/members/signup" method="post">       <!-- 서버로 넘어가는 주소-->
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요"><!-- name:서버로 넘어가는 이름 (data) - post방식 (서버에서 name으로 받아야됨)-->
        </div>
        <div>
            <label for="addr">주소</label>
            <input type="text" id="addr" name="addr" placeholder="주소를 입력하세요"><!-- name:서버로 넘어가는 이름 (data) - post방식 (서버에서 name으로 받아야됨)-->
        </div>
        <button type="submit">등록하기</button>
    </form>

</div>
</body>
</html>